

body {
    background-image: url(detective.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: black;

}

#root {
    background-color: rgba(240, 244, 245, 0.712);
}

#caesarimage {
    max-width: 25%;

} 
.image_container {
    text-align: left;
}

#data_container {
    background-color: rgb(121, 151, 158);
}

#result_container {
    background-color: rgb(50, 104, 116);
}

/* Ocultar elementos al inicio */
.hidden {
    display: none;
}
 
#encode_message {
    width: 25em;
	height: 5em;
	background-color: rgba(192,192,192,0.3);
}
    

#decode_message {
    width: 25em;
	height: 5em;
	background-color: rgba(192,192,192,0.3);
}

footer {
    margin-top: 40px;
}